<audio autoplay loop>
  <source src="../assets/music/Josh Garrels, Benediction (Official Audio).mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<h1>hola</h1>
<h1>hola</h1>
<h1>hola</h1>
<div id="carousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/images/IMG-20231020-WA0008.jpg" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/IMG-20231020-WA0026.jpg" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/IMG-20231020-WA0027.jpg" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/IMG-20231029-WA0010.jpg" class="d-block" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h1>hola</h1>
<h1>hola</h1>